<div class="container">


<% if hasGame %>
  <%= render 'form' %>
<% end %>

<h1>Listing Games</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>User</th>
      <th>Enemy</th>
      <th>Accepted</th>
      <th>Userboard</th>
      <th>Enemyboard</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @games.each do |game| %>
      <tr>
        <td><%= game.user.email %></td>
        <td><%= game.enemy_id %></td>
        <td><%= game.accepted %></td>
        <td><%= game.userboard %></td>
        <td><%= game.enemyboard %></td>
        <td><%= link_to 'Destroy', game, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>



</div>
