<div ng-app="Game">
  <%= @game.user.email %>
  <%= @game.enemy.email %>
  <button class="btn"><%= link_to 'Quit game', @game, method: :delete, data: { confirm: 'Are you sure? You will loose your points!' } %></button>






  <div class="list-group row" ng-controller="GameController as game">

    <%= render "games/userBoard" %>
    <%= render "games/ships" %>

  </div>


</div>
