<div ng-app="Game" class="container">
  <%= @game.user.email %>
  <%= @game.enemy.email %>
  <button class="btn"><%= link_to 'Quit game', @game, method: :delete, data: { confirm: 'Are you sure? You will loose your points!' } %></button>






  <div class="list-group row" ng-controller="GameController as game">

    <%= render "games/userBoard" %>
    <div ng-show="readyuser === false"><%= render "games/ships" %></div>
    <div ng-show="readyenemy === false && readyuser === true"><h1>Waiting for Enemy</div>
    <div ng-show="readyenemy === true && readyuser === true"><%= render "games/enemyBoard" %></div>

  </div>



</div>
