<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @game.user_id %>
</p>

<p>
  <strong>Enemy:</strong>
  <%= @game.enemy_id %>
</p>

<p>
  <strong>Accepted:</strong>
  <%= @game.accepted %>
</p>

<p>
  <strong>Userboard:</strong>
  <%= @game.userboard %>
</p>

<p>
  <strong>Enemyboard:</strong>
  <%= @game.enemyboard %>
</p>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
