<div ng-app="Game" class="container">
  <%= @game.user.email %>
  <%= @game.enemy.email %>
  <button class="btn"><%= link_to 'Quit game', @game, method: :delete, data: { confirm: 'Are you sure? You will loose your points!' } %></button>






  <div class="list-group row" ng-controller="GameController as game">

    <%= render "games/userBoard" %>
    <div ng-show="readyuser === false"><%= render "games/ships" %></div>
    <div ng-show="readyuser === true"><h1>Oczekiwanie na drugiego gracza (ułożenie statków zapisane w bazie danych, AJAX sprawdzający zmiany w bazie, cdn....)</div>

  </div>



</div>
